<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layoutcss.css">
	<title>布局</title>
</head>
<body>
	<div class="box">
		<div class="head clear">
			<ul>
				<li>
					<img src="1.jpg" >
				</li>
				<li class="author">前端开发</li>
				<li class="time">昨天 22:48</li>
			</ul>
		</div>
		<div class="main clear">
			<div class="left">
				<h3>五个月成为简书开发作者后，迟到八个月的感想</h3>
				<p>所谓的浏览器兼容性问题，是指因为不同的浏览器对同一段代码有不同的解析，造成页面显示效果不统一的情况。在大多数情况下，我们的需求是，无论用户用什么浏览器来查看我们的网站或者登陆我们的系统，都应该是统一的显示效果。所以浏览器的兼容性问题是前端开发人员经常会碰到和必须要解决的问题。</p>
			</div>
			<div class="right">
				<img src="2.jpg">
			</div>
		</div>
		<div class="foot clear">
			<span><a href="#">谈写作</a></span>
			<span class="sea">1675</span>
			<span class="talk">59</span>
			<span class="love">111</span>
			<span class="money">3</span>
		</div>
	</div>
</body>
</html>